<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/5f6d1ef682.js" crossorigin="anonymous"></script>
    <title>Hexashop - Product Listing Page</title>
        
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
        
        <link rel="stylesheet" href="/assets/css/templatemo-hexashop.css">
        
        <link rel="stylesheet" href="/assets/css/owl-carousel.css">
        
        <link rel="stylesheet" href="/assets/css/lightbox.css">        
    </head>
    <style>
   
   .loaders {
  display: inline-block;
  width: 190px;
  height: 10px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.loaders span {
  font: 700 22px monospace;
  text-transform: uppercase;
  margin: auto;
  color: #fff;
  letter-spacing: 5px;
}

.loaders::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-image: linear-gradient(332deg, #6bff7f, #32ff3c);
  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: left;
  animation: load5123 1s infinite;
}

@keyframes load5123 {
  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
    </style>
<body>

    <!-- ***** Preloader Start ***** -->
    <div class="mt-5">
        <div class="jumper">
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home" class="logo">
                            <img src="/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav ">
                            <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Men's</a></li>
                            <li class="scroll-to-section"><a href="#women">Women's</a></li>
                            <li class="scroll-to-section"><a href="#kids">Kid's</a></li>
                            <li class="scroll-to-section"><a href="/allProducts">All products</a></li>

                            <li class="submenu">
                                <a href="javascript:;">Category List</a>
                                <% if (allcategory && allcategory.length> 0) { %>
                                    <ul>
                                        <% allcategory.forEach(function(category) { %>
                                            <li><a href="/categorySort?categoryid=<%= category._id %>">
                                                    <%= category.categoryName %>
                                                </a></li>
                                            <% }); %>
                                    </ul>
                                    <% } else { %>
                                        <span>No categories available</span>
                                        <% } %>
                            </li>



                            <li style="margin-left:10px;"><a href="/wishlist"><i class="fa-sharp fa-solid fa-heart"style="font-size: larger;"></i></a> </li>      
                            <li style="margin-left:10px;"><a href="/profile"><i class="fa-solid fa-user "style="font-size: larger;"></i></a> </li>        
                            <li style="margin-left:10px;"><a href="/cart"><i class="fa-solid fa-cart-shopping" style="font-size: larger;"><span id="cartCount" style="color: red;font-size: larger;" class="cart-count">&nbsp;1</span></i></a> </li>       
                                      
                            </ul>

                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>