<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/5f6d1ef682.js" crossorigin="anonymous"></script>
    <title>Hexashop - Product Listing Page</title>
        
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
        
        <link rel="stylesheet" href="/assets/css/templatemo-hexashop.css">
        
        <link rel="stylesheet" href="/assets/css/owl-carousel.css">
        
        <link rel="stylesheet" href="/assets/css/lightbox.css">        
    </head>
    <style>
   
   .loaders {
  display: inline-block;
  width: 190px;
  height: 10px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.loaders span {
  font: 700 22px monospace;
  text-transform: uppercase;
  margin: auto;
  color: #fff;
  letter-spacing: 5px;
}

.loaders::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-image: linear-gradient(332deg, #6bff7f, #32ff3c);
  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: left;
  animation: load5123 1s infinite;
}

@keyframes load5123 {
  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 50px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 250px;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}


.searchbar-clear-icon {
  margin-right: 12px
}


.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
</style>
<body>

    <!-- ***** Preloader Start ***** -->
    <div class="mt-5">
        <div class="jumper">
        </div>
    </div>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home" class="logo">
                            <img src="/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav ">
                            
                            <div class="searchbar">
                                <div class="searchbar-wrapper">
                                  <div class="searchbar-left">
                                    <div class="search-icon-wrapper">
                                      <span class="search-icon searchbar-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                          <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                          </path>
                                        </svg>
                                      </span>
                                    </div>
                                  </div>

                                  <form action="/search" class="searchbar-center" id="search-form">
                                    <div class="searchbar-input-spacer"></div>
                                    <input type="text" class="searchbar-input" maxlength="2048" name="term" autocapitalize="off" autocomplete="off" title="Search" role="combobox" placeholder="Search" id="search-input">
                                  </form>
                                  <div class="spinner" id="spinner" style="display: none;"></div>
                                </div>
                              </div>
                              

                            <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                            
                            <li class="scroll-to-section"><a href="/allProducts">All products</a></li>

                            <li class="submenu">
                                <a href="javascript:;">Category List</a>
                                <% if (allcategory && allcategory.length> 0) { %>
                                    <ul>
                                        <% allcategory.forEach(function(category) { %>
                                            <li><a href="/categorySort?categoryid=<%= category._id %>">
                                                    <%= category.categoryName %>
                                                </a></li>
                                            <% }); %>
                                    </ul>
                                    <% } else { %>
                                        <span>No categories available</span>
                                        <% } %>
                            </li>
                            <li style="margin-left:10px;"><a href="/wishlist"><i class="fa-sharp fa-solid fa-heart"style="font-size: larger;"></i></a> </li>      
                            <li style="margin-left:10px;"><a href="/profile"><i class="fa-solid fa-user "style="font-size: larger;"></i></a> </li>        
                            <li style="margin-left:10px;"><a href="/cart"><i class="fa-solid fa-cart-shopping" style="font-size: larger;"><span id="cartCount" style="color: red;font-size: larger;" class="cart-count">&nbsp;<%=cartCount%></span></i></a> </li>       
                                      
                            </ul>

                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <script>

const searchInput = document.getElementById('search-input');
const searchForm = document.getElementById('search-form');
const spinner = document.getElementById('spinner');

searchInput.addEventListener('keyup', function(event) {
  event.preventDefault();
  if (event.key === 'Enter') {
    spinner.style.display="block"
    
    setTimeout(() => {
      searchForm.submit();
    }, 5000);
  }
});


    </script>